@import '/src/components/mixins';

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: fixed;
  top: 0%;
  left: 0;

  @include mobile{
    transition: transform 0.3s ease;
    width: 150px;
    height: 100%;
    background-color: rgba(7, 7, 7, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .menu-toggle-container {
      width: 100%;  /* Empuja el botón hacia la izquierda */
      .menu-toggle {
        position: fixed;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease;
        &.open {
          top: 1.0%;
          left: 65%;
        }
        &.closed {
          top: 1.0%;
          left: 155%;
        }
        .line {
          width: 35px;
          height: 5px;
          background-color: white;
          transition: transform 0.3s ease;
          margin-bottom: 5px;
        }
        .cruzIcon{
          width: 35px !important;
          height: 30px;
          background-color: white;
          
        }
      }
    }

    .menu-list{
      position: fixed;
      top: 5%;  
      width: 100%;
      margin: 0;
      padding: 0;
      .item-list{
       width: 100%; 
      }
    }

    &.open {
      transform: translateX(0%);
    }
    
    &.closed {
      transform: translateX(-150%);
    }
  }

  @include desktop{
    display: block;
    height: 100%;
    width:250px;
    .menu-list{
      position: fixed;
      top: 5%;  
      width: 250px;
      margin: 0;
      padding: 0;
    }
  }
}
