@import '/src/components/mixins';

/* ListadoProducto.css */
.catalogo {
  margin: auto;
  margin-bottom: 10%;

  /* Estilos para el contenedor principal del Slider */
  .slick-slider {
    width: 95%;
    height: 100%;
    margin: 0 auto;

    /* Otros estilos personalizados */
  }

  @include mobile {
    display: flex;
    margin-bottom: 5%;
    overflow-x: hidden;
    justify-content: center;
    .lista_productos {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      .item_producto {
        list-style-type: none !important;
        padding-left: 0% !important;
        margin-left: 0;
        /* Eliminar el margen lateral de los elementos de la lista */
      }

      .item_producto::marker {
        list-style-type: none;
        padding-left: 0 !important;
        display: none;
      }
    }
  }
}