@import '/src/components/mixins';

.contact-section {
    @include mobile {
        background-color: black;
        color: white;
        padding: 40px 0;
        height: 300px;
        width: 100%;
        display: flex;
        .container {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .social-icons {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .social-item {
                display: flex;
                flex-direction: column; /* Apila el ícono y el texto verticalmente */
                align-items: center; /* Centra horizontalmente el ícono y el texto */
                margin: 10px; /* Espacio entre los elementos */
                .icon-social-red{
                    width: 50px;
                    height: 50px;
                }
                }
        }
    }
    @include desktop {
        background-color: black;
        color: white;
        padding: 40px 0;
        height: 300px;
        width: 100%;
        display: flex;
        .container {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .social-icons {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .social-item {
                display: flex;
                flex-direction: column; /* Apila el ícono y el texto verticalmente */
                align-items: center; /* Centra horizontalmente el ícono y el texto */
                margin: 10px; /* Espacio entre los elementos */
                .icon-social-red{
                    width: 50px;
                    height: 50px;
                }
                }
        }
    }
}