/* CardProducto.css */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    height: 100%; /* La tarjeta ocupará el 100% de la altura de su contenedor padre */
    max-height: 400px; /* Altura máxima ajustable según tus necesidades */
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img {
    width: 100%;
    height: 60%; /* Ajusta la altura de la imagen según tus necesidades */
    object-fit: cover;
  }
  
  .card-body {
    padding: 16px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  
  .card-price {
    color: #4CAF50; /* Color verde para el precio */
    font-weight: bold;
  }
  