@import '/src/components/mixins';

.header{
  /* RESOLUCION MOBILE */
  @include mobile{
    position: absolute;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    .headerContainer {
      width: 100%;
      display: flex;
      justify-content: center; /* Centra el contenido horizontalmente */
      align-items: center; /* Centra el contenido verticalmente */
      
      .logoContainer {
        width: 95% ;/* Empuja el logo hacia la derecha */
        display: flex;
        img{
          background-color: white;
          width: 140px;
          height: 35px;
          text-align: center !important;
          margin: 0 auto;
        }
      }
  }
}

  /* RESOLUCION DESKTOP */
  @include desktop{
    position: absolute;
    display: flex;
    width: 95%;
    padding: 15px;
    justify-content: center;
    z-index: 1000;
    .headerContainer{
      .logoContainer{
        background-color: white;
        width: auto;
        text-align: center;
        .logo {
          width: 300px;
        }
      }
    }
  }
}







