@import '/src/components/mixins';

.header{
  @include mobile{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    margin-top: 10px;
  }
  @include desktop{
    position: fixed;
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
}

.header img{
  @include desktop{
    width: 100px;
    text-align: center !important;
    margin: 0 auto;
  }
  @include mobile{
    width: 100px;
    text-align: center !important;
    margin: 0 auto;
  }
}

.logo {
  width: 100px;
  margin-left: 15%;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.line {
  width: 25px;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease;
  margin-bottom: 5px;
}

.open .line:nth-child(1) {
  transform: translateX(80%);

}

.open .line:nth-child(2) {
  transform: translateX(80%);
}

.open .line:nth-child(3) {
  transform: translateX(80%);
}

.cruzIcon{
  @include mobile{
    width: 25px !important;
    height: 20px;
  }
}
