.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dccece;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }