// FiltrosHorizontales.scss
@import '/src/components/mixins';

.filtro_horizontal {
    display: flex;
    justify-content: space-around; // Centra horizontalmente
    align-items: center; // Centra verticalmente
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;

    @include mobile {
        flex-direction: row;

        .filtro_categoria,
        .filtro_precio {
            display: flex;
            flex-direction: column;
            margin: 0 10px 10px;

            @include mobile {
                margin: 0;
            }
        }
    }

    .filtro_categoria,
    .filtro_precio {
        display: flex;
        flex-direction: column;
        margin: 0 10px 10px;

        @include mobile {
            margin: 0;
        }

        span {
            margin-bottom: 5px;
        }

        select,
        input[type="range"] {
            width: 100%;

            @include mobile {
                width: auto;
            }
        }
    }
}