@import '/src/components/mixins';

.intro-container {
    height: auto;
    @include desktop{
        background-image: url('../../../assets/images/intro_desktop.jpg');
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
        background-position: center; /* Centra la imagen en el fondo */
        background-repeat: no-repeat;
        height: 900px;
        .intro-content {
            display: flex;
            flex-direction: column;
            margin-top: 10%;
            margin-bottom: 10%;
            margin-left: 15%;
            .intro-title {
                color: white;
                width: 80%;
                font-weight: bold;
                font-size: 100px;
            }

            .intro-description {
                color: white;
                font-size: 25px;
                width: 60%;
                margin-bottom: 20px;
            }

            /* Estilo del botón */
            .intro-button {
                width: 25%;
                background-color: #0074D9;
                /* Color de fondo azul */
                border: 2px solid #0074D9;
                /* Borde redondo delicado */
                border-radius: 10px;
                /* Borde redondo */
                color: #ffffff;
                /* Color de texto blanco */
                padding: 10px 20px;
                /* Espaciado interior del botón */
                font-weight: bold;
                /* Texto en negrita */
                cursor: pointer;
                /* Cambia el cursor al pasar el ratón */
                transition: background-color 0.3s, color 0.3s;
                /* Transición suave al cambiar colores */
            }

            /* Cambio de estilo al pasar el ratón por encima del botón */
            .intro-button:hover {
                background-color: #0056b3;
                /* Cambia el color de fondo al pasar el ratón */
                color: #ffffff;
                /* Cambia el color del texto al pasar el ratón */
            }

        }
    }

    @include mobile{
        background-image: url('../../../assets/images/halloween_img_mobile.jpg');
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
        background-position: center; /* Centra la imagen en el fondo */
        background-repeat: no-repeat;
        .intro-content {
            height: 600px;
            display: flex;
            flex-direction: column;
            margin-top: 25%;
            margin-left: 5%;
            .intro-title {
                color: white;
                width: 100%;
                font-weight: bold;
                font-size: 30px;
            }

            .intro-description {
                color: white;
                font-size: 15px;
                width: 60%;
                margin-top: 10px;
                margin-bottom: 20px;
            }

            /* Estilo del botón */
            .intro-button {
                width: 55%;
                background-color: #0074D9;
                /* Color de fondo azul */
                border: 2px solid #0074D9;
                /* Borde redondo delicado */
                border-radius: 10px;
                /* Borde redondo */
                color: #ffffff;
                /* Color de texto blanco */
                padding: 5px 5px;
                /* Espaciado interior del botón */
                font-weight: bold;
                /* Texto en negrita */
                cursor: pointer;
                /* Cambia el cursor al pasar el ratón */
                transition: background-color 0.3s, color 0.3s;
                /* Transición suave al cambiar colores */
            }

            /* Cambio de estilo al pasar el ratón por encima del botón */
            .intro-button:hover {
                background-color: #0056b3;
                /* Cambia el color de fondo al pasar el ratón */
                color: #ffffff;
                /* Cambia el color del texto al pasar el ratón */
            }

        }
    }
}
