.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 30px 0px;
  cursor: pointer;
}

.menu-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%; /* La línea ocupará todo el ancho del ítem */
  height: 1px; /* Altura de la línea divisoria */
  background-color: #000; /* Color de la línea divisoria (ajusta según tu diseño) */
}

.menu-item-label{
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color:white;
}










